#about-us {
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 50px 20px;
}

#about-us img {
    max-width: 300px;
}

#about-us p {
    max-width: 500px;
}

#about-us h2 {
    color: #fff;
}

#about-us p {
    font-size: 1.1em;
    padding: 8px 0;
}

@media (max-width: 768px) {
    #about-us {
        flex-direction: column;
        justify-content: stretch;
    }

    #about-us img,
    #about-us p {
        max-width: 100%;
    }
}
