#onas {
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 50px 20px;
}

#onas img {
    max-width: 300px;
}

#onas p {
    max-width: 500px;
}

#onas h2 {
    color: #fff;
}

#onas p {
    font-size: 1.1em;
    padding: 8px 0;
}

@media (max-width: 768px) {
    #onas {
        flex-direction: column;
        justify-content: stretch;
    }

    #onas img,
    #onas p {
        max-width: 100%;
    }
}
