@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import './navbar.css';
@import './main.css';
@import './about-us.css';
@import './pricing.css';

@font-face {
    font-family: nunito;
    src: url('../assets/fonts/Nunito-VariableFont_wght.ttf');
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: nunito;
    --primary-color: #5a248f;
    --secondary-color: #222;
    --navbar-list-color: #5a248f;
    --navbar-list-hover-color: #7c46a0;
    --navbar-list-secondary-hover-color: #6b359f;
}

h2 {
    font-family: 'Anton';
    font-size: 2.4em;
}

.btn-primary {
    font-family: inherit;
    padding: 10px 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #9369e7;
    color: #fff;
    transition: background-color 0.2s;
    font-size: 0.9rem;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: #a47af8;
}

.mb {
    margin-bottom: 15px;
}

.table-responsive {
    overflow: auto;
    width: 100%;
}
