@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import './navbar.css';
@import './main.css';
@import './about-us.css';
@import './gallery.css';
@import './contact.css';
@import './location.css';
@import './rules.css';

@font-face {
    font-family: nunito;
    src: url('../assets/fonts/Nunito-VariableFont_wght.ttf');
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: nunito;
    --primary-color: #211d4e;
    --secondary-bg-color: #fff;
    --secondary-color: #222;
    --navbar-list-hover-color: #e31f1f;
    --navbar-list-secondary-hover-color: #6b359f;
}

:root,
body {
    scroll-behavior: smooth;
}

h2 {
    font-family: 'Anton';
    font-size: 2.4em;
}

.btn-primary {
    font-family: inherit;
    padding: 10px 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: var(--navbar-list-hover-color);
    color: #fff;
    transition: background-color 0.2s;
    font-size: 0.9rem;
    cursor: pointer;
}

.mb {
    margin-bottom: 15px;
}

.table-responsive {
    overflow: auto;
    width: 100%;
}

.card {
    padding: 25px;
    padding-bottom: 70px;
}

.card.primary {
    background-color: var(--secondary-bg-color);
    color: #000;
}

.card.secondary {
    background-color: var(--primary-color);
    color: #fff;
}
