#lokalizacja {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lokalizacja h2 {
    margin-bottom: 30px;
}

#lokalizacja iframe {
    width: 80%;
    height: 300px;
}

@media (max-width: 768px) {
    iframe {
        width: 100% !important;
    }
}
